* {
	margin: 0;
	padding: 0;
}

html{
	background: none repeat scroll 0 0 #EEEEEE;
}

body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #333;
}

a{
	color: #333;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.aligncenter {text-align: center;}
.alignright {float:right;}
.alignleft {float:left;}
.clear {clear:both; margin-bottom: 20px;}

#shoppingcart {
	position: absolute;
	top: 50px;
	left: 50px;
	height: 100px;
	width: 500px;
	background: #eee;
	border: 1px solid #444;
}

#shoppingcart p {
	margin: 0 1em 1em;
}

h1 {
	font-size: 140%;
	text-align:center;
	margin: 0.5em 1em;
}

#contents {
	margin: 0 auto;
	width: 500px;
}

/*----------------navigation-------------*/

#navigation {
	min-height:25px;
	margin: 1em 0;
}

#navigation a {	
	text-decoration: underline;
}

/*----------------booklist-------------*/

#book {
    float: left;
	min-width:450px;
	min-height:250px;
	background:#f5f5f5;
	border:1px solid #ccc;
    border-radius: 10px;
	-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
	box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
    padding: 20px;
}

#book .list ul {
	list-style-type: none;
}

#book .list ul li {
	padding: 0 0 0 30px;
	margin: 0 1em 1em;
	background: url(../images/carets.png) no-repeat left;
}

#book p {
	margin: 0 1em 1em;
}

#contents table {
	font-size: 90%;
	border-collapse: collapse;
}

#contents table td {
	border: 1px solid #999;
	width: 20%;
}

#contents p, #contents button {
	margin: 1em;
}

